html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

body { 
  font-family: "Open Sans",monospace, sans-serif;
  background-color: rgb(255, 224, 130);
  color: rgb(33, 33, 33);
  font-size: 16px;
  
}

.wrapper {
	
	min-height: 100%;
	margin-left: auto;
    margin-right: auto;
    min-width: 720px;
	width: 60%;
	position: relative;
}



.header:after{
    content:'';
    display: table;
    clear:both;

}

.header  ul {
	float: right;
    margin: 0;
    margin-bottom: 20px;
    padding: 20px;
    list-style: none;
    display: inline-block;
}

header li {
	display: inline-block;
	margin-right: 35px;
	font-weight: bold;

}

.about {
	
    font-size: 0px;
    margin-bottom: 50px;
    margin: auto;
    width: 90%;

}



.about-me {
	
	padding-left: 10px;
	padding-top: 90px;
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
        box-sizing: border-box;
	display: inline-block;
	width: 50%;
	
	height: 400px;
	vertical-align: bottom;
	font-size: 16px;
}

.about-me p {
		
	padding-bottom: 0px;
	margin: 0;
}

.about-foto {
	-webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
        box-sizing: border-box;
   
	display: inline-block;
	width: 50%;
	
	height: 400px;
	font-size: 16px;
    vertical-align: bottom;
    background-image: url(../img/face.png); 
    background-repeat: no-repeat;
    background-position: 20% 50%;
}


.about-me .name {
	font-size: 35px;
	margin-bottom: 15px;
}

.skills {
	margin-bottom: 80px;
    min-height: 200px;
}

.works {
	margin-bottom: 80px;
    min-height: 200px;
}

.hire {
	
    min-height: 200px;
    padding-bottom: 200px;
}

footer {
	
    min-height: 50px;
    position: absolute;
    bottom: 0px;
    width: 100%;
    padding-bottom: 10px;
}

h3 {
	
	padding-left: 10px;
	font-size: 20px;
	font-weight: bold;
}

.text-skills {
	margin-left: 5%;
	font-size: 20px;
	font-weight: bold;
}

a {
	color: black;
}

a:hover {
	color: rgb(26, 82, 118);
}

.expert {
    font-size: 0px;
	
	width: 90%;
	margin-left: auto;
	margin-right: auto;
}

.expertin {
	font-size: 16px;
	vertical-align: top;
	display: inline-block;
	margin:0px 0px;
	
	width: 30%;
	min-height: 200px;
    padding: 10px;
    
}

.expertin .image {
    width: 100%;
    min-height: 90px;
    background-position: left bottom;
    margin-bottom: 20px;

}

.expertin .text-skills {
	font-size: 18px;
	margin-left:0;
	margin-bottom: 10px;
}

.image-1 {
	background-image: url(../img/Camera.png); 
    background-repeat: no-repeat;
}

.image-2 {
	background-image: url(../img/Envelope.png); 
    background-repeat: no-repeat;
}

.image-3 {
	background-image: url(../img/Mobile.png); 
    background-repeat: no-repeat;
}


.works .image {
	width: 100%;
	height: 250px;
	border-radius: 5%;
	background-image: url(../img/portf-img.jpg); 
    background-repeat: no-repeat;

}

.works .rqm {
	background-image: url(../img/projects/rqm/forportfolio.jpg); 
}

.works .pomodoro {
	background-image: url(../img/projects/pomodoro/forportfolio.jpg); 
	background-position: -30px 0px;
}

.works .calc {
	background-image: url(../img/projects/calc/forportfolio.jpg); 

}

.awesome {
	width:90%;
	background-color: rgb(88, 214, 141);
	margin: auto;
	margin-top: 20px;
	border-radius: 5px;

}

.awesome:after{
    content:'';
    display: block;
    clear:both;
}

.container-left,
.container-right,
.copyright,
.social-icon {
	display: inline-block;
	vertical-align: middle;
   
}

.container-left {
	padding: 20px;
	width: 50%;
	
	
}

.container-right {
	position: relative;
	
	margin-left: 13%;
	margin-right: 10px;
	width: 170px;
	height: 70px;
	border-radius: 40px;
	border: 3px solid rgb(21, 101, 192);
	background-color: rgb(88, 214, 141);
	color: rgb(21, 101, 192);


}

.container-right > button {
	top: 25px;
	position: absolute;
	height: 20px;
	left: 50px;
	font-weight: bold;
	text-decoration: none;
	background-color: inherit;
	border: none;
	color: inherit;

}

li a {
	text-decoration: none;
	color: inherit;
	
}

button a {
	text-decoration: none;
	color: inherit;
	background-color: inherit;
}

.anot {
	margin-left: 5%;
	font-size: 16px;
	font-weight: normal;
}



.container-right:hover {
	background-color: rgb(3, 169, 244);
	cursor: pointer;
}

.social {
	width: 90%;
	margin: auto;
	padding: 10px 0px;
}



.copyright {
    padding-top: 10px;
	float: left;
}
.social-icon {

	float: right;

}

.icon {

	display: inline-block;
	width: 40px;
	height: 40px;
	margin-right: 0px;
	background-image: url(../img/icons.png);
	background-repeat: no-repeat;

}

.github {
	background-position: -123px 0px;
}

.fcc {
	background-position: -159px 0px;
}

.linkedin {
	background-position: -83px 0px;
}

.github:hover {
	background-position: -123px -59px;
}

.fcc:hover {
	background-position: -159px -59px;
}

.linkedin:hover {
	background-position: -83px -60px;
}


li:hover a {
	color: rgb(26, 82, 118);
}