html {
	height: 100%;
}


body {
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background: #fcf3d0;
}

.task-wrapper {
	text-align: center;
	padding: 30px 40px 40px 40px;
}

.task-wrapper h1 {
	margin-bottom: 50px;
}


.exercise {
	min-height: 55px;
	margin-bottom: 100px;
}

.exercise,
.exercise .answer-container {
	display: inline-block;
	font-size: 35px;
}


.exercise span {
	margin-right: 15px;
	margin-top: 10px;
	display: inline-block;
}

.challenge-row {
	display: flex;
	min-height: 150px;
	flex-direction: column;
	font-size: 0;
	justify-content: flex-end;
}

.challenge-tasks {
	margin-bottom: -10px;
	z-index: 10;
	padding-left: 33px;
	padding-right: 58px;
	text-align: left;
	min-height: 50px;
	position: relative;
}

.challenge-task {
	display: inline-block;
	vertical-align: bottom;
	font-size: 18px;
	text-align: center;
}

.answer-container {
	text-align: center;
	display: inline-block;
	position: relative;
	font-size: inherit;
	min-height: 28px;
}

.answer-container input {
	width: 40px;
	text-align: center;
}

.answer-container button {
	position: absolute;
	left: 110%;
	top: 0;
	visibility: hidden;
}

.challenge-image {
	text-align: left;
}

.challenge-task__image {
	display: block;
	height: auto;
}

.congrat {
	padding: 20px 30px;
	box-sizing: border-box;
	color: green;
	font-size: 20px;
	text-transform: uppercase;
	border: 3px solid #2874A6;
	background-color: #F9E79F;
	position: fixed;
	top: 30%;
	left: 45%;
	display: none;
	border-radius: 10px;
	z-index: 20;
}

#moreBtn {
	display: none;
	position: fixed;
	top: 50%;
	right: 5px;
}