$main-font-family: 'Montserrat', sans-serif;
$font-family-second: "Droid Serif", sans-serif;


$color-light: #fff;

$color-1: #918686;
$color-2: #f6d98f;
$color-3: #4d4849;
$color-4: #c55842;
$color-5: #bcc1c4;
$color-6: #f2f6f7;
$color-7: #a28026;
$color-8: #d5d1d1;
$color-9: #6a6060;
$color-10: #78965b;

$font-size-header-top: 13px;
$line-height-header-top: 20px;

$main-width: 1170px;


// *:hover {
// 	outline: 1px solid red;
// }

@mixin clear-link-style {
	text-decoration: none;
	color: inherit;
}

@mixin clear-list-style {
	list-style: none;
	padding: 0;
	margin: 0;
}

@mixin font($font-size, $line-height: 20, $font-family: $main-font-family) {
	font-size: #{$font-size}px;
	line-height: #{$line-height}px;
	font-family: $font-family;
}

body {
	font-family: $main-font-family;
}

.clearfix::after {
	content: "";
	display: block;
	height: 0;
	clear: both;
}


.container {
	width: $main-width;
	padding-left: 15px;
	padding-right: 15px;
	margin: 0 auto;
}

.header-top {
	color: $color-1;
	background-color: $color-3;
	font-size: $font-size-header-top;
	line-height: $line-height-header-top;
	position: relative;
	.container {
		position: relative;
	}
}

.site-info {
	float: left;
	padding: 15px 0;
	a {
		text-decoration: none;
		color: $color-2;
		font-family: $main-font-family;
		font-style: italic;
	}
	span {
		margin-right: 40px;
	}
}

.account-navigation {
	float: right;
	margin-right: 45px;
	a {
		text-decoration: none;
		color: inherit;
		display: inline-block;
		padding: 15px;
		transition: background-color .3s, color 0.3s;
		&:hover {
			background-color: $color-4;
			color: $color-light;
		}
	}
}


.shoping-basket {
	float: right;
	background-color: $color-2;
	position: absolute;
	top: 0;
	right: 0;
}

.shoping-basket::after {
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	width: 0;
	border-left: 23px solid transparent;
	border-right: 22px solid transparent;
	border-bottom: 9px solid $color-light;
}

.shoping-basket a {
	line-height: 58px;
	text-align: center;
	text-decoration: none;
	width: 45px;
	height: 66px;
	display: inline-block;
	position: relative;
	transition: all 0.3s;
	&:hover {
		padding-top: 10px;
		.basket-counter {
			top: 22px;
		}
	}
	.basket-counter {
		transition: all 0.3s;
		width: 14px;
		height: 14px;
		line-height: 14px;
		text-align: center;
		color: $color-light;
		font-size: 9px;
		background: $color-4;
		display: inline-block;
		right: 6px;
		top: 12px;
		position: absolute;
		-webkit-border-radius: 50%;
		-moz-border-radius: 50%;
		-ms-border-radius: 50%;
		border-radius: 50%;
	}
}

.icon-basket {
	display: inline-block;
	text-align: center;
	&::before {
		content: "";
		display: block;
		@include icons-sprite(basket);
	}
}

.header-navigation > ul {
	@include clear-list-style;
	li {
		margin-right: 20px;
		display: inline-block;
		padding: 15px 25px;;
		position: relative;
		color: $color-5;
		> a {
			@include clear-link-style;
			font-weight: bold;
			text-transform: uppercase;
			display: inline-block;
			position: relative;
			transition: color 0.3s ease-in-out;
			&::after {
				content: "";
				display: block;
				width: 0;
				height: 3px;
				bottom: -10px;
				position: absolute;
				
				left: 50%;
				transition: width 0.3s ease-in-out, margin-left 0.3s ease-in-out;
				background: $color-4;
			}

		}
		&:not(:first-child)::before {
			content: "";
			width: 4px;
			height: 4px;
			border-radius: 50%;
			position: absolute;
			left: -2px;
			top: 50%;
			background: $color-2;
			margin-top: -2px;
		}
		&:hover {
			color: $color-4;
			> a::after {
				width: 36px;
				margin-left: -18px;
			}
		}
	}
}

.navigation-left {
	float: left;
	margin-left: 70px;
}

.navigation-right {
	float: right;
	margin-right: 20px;
}

.logo {
	position: absolute;
	top: 0;
	left: 50%;
	margin-left: -85px;
	background: url(../img/logo.png);
	width: 170px;
	height: 221px;

}

.header-bottom {
	padding: 40px 0 30px 0;
}

// .slider ul {
// 	@include clear-list-style;
// 	font-size: 0;
// 	line-height: 0;
// }

// .slider img {
// 	width: 100%;
// 	height: 500px;
// }




.slider {
	height: 775px;
	overflow: hidden;
}

.slide {
	background: url(../img/home-slider-big.jpg) no-repeat;
	width: 100%;
	height:100%
}

.contact-info-block {
	background-color: $color-6;
	padding-bottom: 20px;
}

.contact-info-block .container {
	transform: translateY(-40px);
	box-sizing: border-box;
	width: $main-width;
	padding: 0;
	height: 170px;
	font-size: 0;
	line-height: 0;
	background-color: $color-light;
}

.contact-info-left-side,
.contact-info-center,
.contact-info-right-side {
	display: inline-block;
	box-sizing: border-box;
	height: 170px;
	vertical-align: top;
	position: relative;
}

.contact-info-left-side {
	padding: 14px;
	background-color: $color-2;
	color: $color-7;
	width: 170px;
	.contact-info-date {
		font-weight: bold;
		@include font(13, 18);
		margin-bottom: 28px;
	}
	.contact-info-welcome {

		font-style: italic;
		@include font(21, 29, $font-family-second);
		.user-name {
		font-weight: bold;
		color: $color-4;
		}
	}
}

.contact-info-center {
	padding-top: 50px;
	@include font(13, 14);
	color: $color-1;
	padding-left: 100px;
	width: 400px;
}

.contacts {
	font-weight: bold;
	color: $color-4;
	@include font(32, 14, $font-family-second);
	margin-top: 25px;
	position: relative;
	&::before {
		content: "";
		display: block;
		position: absolute;
		width: 54px;
		height: 54px;
		border-radius: 50%;
		background-color: $color-4;
		left: -65px;
		top: 50%;
		margin-top: -27px;
	}
}

.icon-call::after,
.icon-skype::after {
	content: "";
	display: block;
	position: absolute;
	left: -49px;
	top: 50%;
	margin-top: -13px;
}

.icon-call::after {
	@include icons-sprite(phone_contacts);
}

.icon-skype::after {
	@include icons-sprite(skype_contacts);
}


.contact-info-right-side {
	float: right;
	padding-top: 50px;
	color: $color-1;
	width: 185px;
	@include font(13, 14);
	text-align: center;
	a {
		margin-top: 10px;
		border-radius: 3px;
		@include clear-link-style;
		display: inline-block;
		text-transform: uppercase;
		color: $color-light;
		padding: 15px 18px;
		@include font(13, 14);
		font-weight: bold;
		background-color: $color-4;
		transition: background 0.3s, color 0.3s;
		&:hover {
			background: darken($color-4, 10%);
		}
	}
}

.contact-info-right-side::before,
.contact-info-center-skype::before {
	content: "";
	width: 1px;
	height: 100%;
	background-color: #eee;
	position: absolute;
	top: 0;
	left: 0;
}

.promote-body {
	@include font(0, 0);
}

.promote-block {
	padding-top: 60px;
	padding-bottom: 90px;
}

.discover-block {
	background-color: $color-6;
	padding-top: 10px;
}

.promote-header {
	text-align: center;
	margin-bottom: 40px;
	h2 {
		@include font(60, 70, $font-family-second);
		color: $color-4;
		font-style: italic;
		text-align: center;
		font-weight: normal;
		margin: 0;
		margin-bottom: -5px;
	}
	.promote-description-wrapper {
		@include font(16, 14);
		color: $color-1;
		font-weight: bold;
		text-align: center;
		text-transform: uppercase;
		display: inline-block;
		padding: 0 10px;
		margin-bottom: 20px;
		position: relative;
	}
}

.promote-description-line-left {
	position: absolute;
	background-color: $color-8;
	width: 65px;
	height: 1px;
	left: -65px;
	top: 50%;
	&::before {
		content: "";
		width: 6px;
		height: 6px;
		border: 1px solid $color-8;
		border-top-color: transparent;
		border-left-color: transparent;
		transform: rotate(-45deg);
		position: absolute;
		left: -8px;
		top: -3.5px;
	}
}

.promote-description-line-right {
	position: absolute;
	background-color: $color-8;
	width: 65px;
	height: 1px;
	right: -65px;
	top: 50%;
	margin-top: -1px;
	&::before {
		content: "";
		width: 6px;
		height: 6px;
		border: 1px solid $color-8;
		border-top-color: transparent;
		border-left-color: transparent;
		transform: rotate(135deg);
		position: absolute;
		right: -8px;
		top: -3.5px;
	}
}

.promote-filter {
	margin-top: 10px;
	margin-bottom: 50px;
	ul {
		@include clear-list-style;
	}
}

.promote-filter ul li {
	display: inline-block;
	margin-right: 10px;
	a {
		@include clear-link-style;
		display: inline-block;
		color: $color-1;
		background-color: $color-8;
		padding: 8px 22px;
		border-radius: 15px;
		@include font(13, 14);
		&:hover,
		&.active {
			background-color: $color-1;
			color: $color-light;
		}
	}
}

.product-block {
	@include font (0, 0);
}

.product {
	display: inline-block;
	box-sizing: border-box;
	width: 270px;
	padding: 5px 6px;
	background: $color-light;
	margin-right: 30px;
	margin-bottom: 30px;
	transition: all 0.2s;
	a {
		@include clear-link-style;
		display: inline-block;
	}
	img {
		width: 258px;
		height: 200px;
	}
}

.product:nth-child(4n) {
	margin-right: 0;
}

.product:hover {
	transform: scale(1.2);
	box-shadow: 0 0 0 20px $color-4;
	background-color: $color-4;
	.product-img {
		outline: 6px solid darken($color-4, 20%);
	}
	.product-name,
	.product-description,
	.product-cost,
	.product-review {
		color: $color-light;
	}
	.product-offer a,
	.product-added a,
	.product-added span {
		color: $color-light;
		border-color: $color-light;
	}
}

.product-img {
	background-color: $color-1;
	@include font(0, 0);
	margin-bottom: 20px;
}

.product .product-name {
	padding-left: 9px;
	padding-right: 7px;
	color: $color-9;
	@include font(18, 14);
	font-weight: bold;
	margin-bottom: 14px;
}

.product .product-description {
	padding-left: 9px;
	padding-right: 7px;
	color: $color-1;
	@include font(12, 18, $font-family-second);
	font-style: italic;
	margin-bottom: 20px;
}

.product-review {
	padding-left: 9px;
	padding-right: 7px;
	color: $color-1;
	@include font(13, 14);
	font-weight: bold;
	margin-bottom: 20px;
}

.star-rating {
	@include clear-list-style;
	margin-left: 5px;
	display: inline-block;
	li {
		display: inline-block;
		margin-right: 2px;
		@include icons-sprite(star_rating);
		&.active {
			@include icons-sprite(star_rating_active);
		}
	}
}

.product-order {
	border-top: 1px dotted $color-8;
	padding-top: 12px;
	padding-left: 9px;
	padding-right: 7px;
	margin-bottom: 10px;
}

.product-cost {
	margin-top: 10px;
	@include font (18, 14);
	font-weight: bold;
	color: $color-4;
	float: left;
	display: inline-block;
	letter-spacing: 0.1em;
}


.product-offer {
	float: right;
	display: inline-block;
	&.hidden {
		display: none;
	}
	> a {
		@include font(11, 14);
		@include clear-link-style;
		color: $color-1;
		border: 1px solid $color-1;
		padding: 8px 10px 8px 30px;
		border-radius: 3px;
		display: inline-block;
		position: relative;
		&::before {
			content: "";
			display: block;
			position: absolute;
			left: 10px;
			top: 50%;
			margin-top: -6px;
			@include icons-sprite(cart);
		}
	}
}

.product-added {
	float: right;
	&.hidden {
		display: none;
	}
	span {
		vertical-align: top;
		@include font(11, 14);
		color: $color-light;
		border: 1px solid $color-1;
		padding: 8px 10px 8px 30px;
		background-color: $color-1;
		border-radius: 3px;
		display: inline-block;
		position: relative;
		margin-right: 5px;
		&::before {
			content: "";
			display: block;
			position: absolute;
			left: 10px;
			top: 50%;
			margin-top: -6px;
			@include icons-sprite(cart_added);
		}
	}
	a {
		vertical-align: top;
		@include font(0, 0);
		width: 31px;
		height: 31px;
		border: 1px solid $color-4;
		background-color: $color-4;
		border-radius: 3px;
		display: inline-block;
		position: relative;
		&::before {
			content: "";
			display: block;
			position: absolute;
			left: 50%;
			top: 50%;
			margin-top: -6px;
			margin-left: -4px;
			@include icons-sprite(cart_add_close);
		}
	}
}

.choose-block {
	padding-bottom: 50px;
}

.promote-menu-wrapper {
	display: inline-block;
	width: 550px;
	float: left;
	margin-top: -20px;
	margin-bottom: 30px;
	h3 {
		@include font(26, 14, $font-family-second);
		font-style: italic;
		color: $color-9;
		font-weight: normal;
		margin-bottom: 40px;
	}
	ul {
		@include clear-list-style;
	}
}

.promote-menu-wrapper:nth-child(2n) {
	float: right;
}

.product-menu {
	display: block;
	margin-bottom: 30px;
	img {
		display: inline-block;
		border-radius: 50%;
		border: 6px solid #e6eced;
		float: left;
		width: 115px;
		height: 115px;
	}
}

.product-menu-info {
	float: right;
	position: relative;
	display: inline-block;
	width: 400px;
	&::before {
		position: absolute;
		content: "";
		width: 100%;
		border-bottom: 1px dotted $color-8;
		left: 0;
		top: 24px;
		z-index: -1;
	}
}

.product-menu-info.special-offer {
	.product-menu-name {
		color: $color-4;
	}
	&::before {
		border-color: $color-4;
	}
	.product-menu-offer {
		background-color: $color-4;
		position: relative;
		&::before {
			content: "Special Offer!";
			display: block;
			text-align: center;
			width: 100%;
			color: $color-4;
			@include font(12, 14);
			position: absolute;
			letter-spacing: -0.01em;
			top: -18px;
			left: 0;
		}
	}
}

.product-menu-info.best-choice {
	.product-menu-name {
		color: $color-10;
	}
	&::before {
		border-color: $color-10;
	}
	.product-menu-offer {
		background-color: $color-10;
		position: relative;
		&::before {
			content: "Best choice!";
			display: block;
			text-align: center;
			width: 100%;
			color: $color-10;
			@include font(12, 14);
			position: absolute;
			letter-spacing: -0.01em;
			top: -18px;
			left: 0;
		}
	}
}

.product-menu-name {
	@include font(18, 14);
	font-weight: bold;
	padding-right: 5px;
	background-color: $color-light;
	display: inline-block;
	color: $color-9;
	padding-top: 12px;
	margin-bottom: 30px;
}

.product-menu-offer {
	background: $color-9;
	color: $color-light;
	padding: 10px 15px;
	letter-spacing: 0.1em;
	font-weight: bold;
	@include font(16, 14);
	float: right;
	margin-left: 10px;
	box-shadow: -5px 0 0 0 $color-light;
	border-radius: 3px;
}

.product-menu-description {
	padding-left: 30px;
	@include font(12, 20, $font-family-second);
	font-style: italic;
	color: $color-1;
	clear: both;
}

.advantages-block {
	background: url(../img/advantages.jpg) no-repeat;
	background-size: cover;
	padding-bottom: 40px;
	margin-bottom: 20px;
	p {
		color: $color-light;
		text-align: center;
		@include font(14, 24, $font-family-second);
		display: inline-block;
		padding: 0 180px;
		font-style: italic;
	}
}

.advantages-wrapper {
	display: inline-block;
	margin-bottom: 30px;
}

.advantages-list {
	display: inline-block;

}

.advantage {
	display: inline-block;
	margin-right: 140px;
	text-align: center;
}

.advantage:last-child {
	margin-right: 0;
}

.advantage-counter {
	@include font(90, 90, $font-family-second);
	font-style: italic;
	color: $color-light;
}

.advantage-name {
	@include font(16, 26);
	font-weight: bold;
	text-transform: uppercase;
	color: $color-2;
}

.advantages-block .promote-description-wrapper {
	text-align: center;
	position: relative;
	display: block;
	margin: auto;
	padding: 0 15px;
	height: 42px;
  	width: 24px;
  	margin-bottom: 20px;
}

.advantages-block .promote-description-wrapper span {
	@include icons-sprite(advantage);
	display: inline-block;
}

.event-block {
	@include font(0, 0);
	margin-top: 20px;
}

.event {
	vertical-align: top;
	box-sizing: border-box;
	border: 6px solid #f1eded;
	background: #f1eded;
	width: 370px;
	height: 445px;
	margin-right: 30px;
	display: inline-block;
	@include font(0, 0);
	p {
		color: $color-1;
		@include font(12, 20, $font-family-second);
		margin-bottom: 20px;

	}
}

.event:nth-child(3n) {
	margin-right: 0;
}

.event-picture {
	@include clear-link-style;
	width: 358px;
	height: 255px;
	background: #425abe;
	display: inline-block;
	margin-bottom: 15px;
	img {
		width: 358px;
		height: 255px;
	}
}

.event-description-wrapper {
	padding: 5px 14px;
}

.event-name {
	@include clear-link-style;
	display: block;
	@include font(18, 14);
	font-weight: bold;
	color: $color-9;
	margin-bottom: 15px;
}

.light-btn {
	@include clear-link-style;
	color: $color-1;
	@include font(11, 14);
	padding: 9px 15px 9px 35px;
	border: 1px solid $color-1;
	border-radius: 3px;
	position: relative;
	display: inline-block;
	transition: all 0.3s;
	&:hover {
		color: $color-light;
		border-color: $color-4;
		background-color: $color-4;
	}
}

.event-view-more-btn::before {
		content: "";
		display: block;
		position: absolute;
		@include icons-sprite(read_more);
		top: 50%;
		left: 10px;
		margin-top: -7px;
}

.event-party,
.event-culture,
.event-meeting {
	position: relative;
	&::before {
		content: "";
		display: block;
		position: absolute;
		width: 0;
		height: 0;
		border: 25px solid $color-4;
		top: 1;
		left: 1;
		border-color: $color-4 transparent transparent $color-4;
	}
}

.event-party::after {
	position: absolute;
	display: block;
	content: "";
	@include icons-sprite(event_party);
	top: 7px;
	left: 7px;
}

.event-culture::after {
	position: absolute;
	display: block;
	content: "";
	@include icons-sprite(event_culture);
	top: 7px;
	left: 7px;
}

.event-meeting::after {
	position: absolute;
	display: block;
	content: "";
	@include icons-sprite(event_meeting);
	top: 7px;
	left: 7px;
}

.reservation-block {
	background: #b2b2b2;

}

.reservation-form {
	width: 970px;
	margin: 0 auto;
	display: block;
	margin-top: 20px;
	fieldset {
		border: 0;
		padding: 0;
	}
	legend {
		@include font(26, 14, $font-family-second);
		font-style: italic;
		color: $color-light;
		margin-bottom: 35px;
	}
}

.r-booking {
	float: left;
	width: 470px;
	box-sizing: border-box;
}

.r-contacts {
	float: right;
	width: 470px;
	box-sizing: border-box;
}

.ri-wrapper {
	position: relative;
	margin-bottom: 25px;
}

.ri-wrapper input,
.ri-wrapper textarea {
	box-sizing: border-box;
	width: 100%;
	@include font(16, 7);
	padding: 0 10px;
	height: 35px;
	color: $color-light;
	background-color: #b2b2b2;
	outline: none;
	border: none;
	border-bottom: 1px solid #c9c9c9;
	&:focus {
		border-color: $color-light;
	}
	&:focus + label {
		color: $color-light;
	}

}

.ri-textarea {
	clear: both;
	textarea {
		padding-top: 10px;
		height: 140px;
		margin-bottom: 35px;
	}
}

.ri-wrapper label {
	@include font(16, 7);
	color: #c9c9c9;
	position: absolute;
	top: 15px;
	left: 10px;
}

.reservation-form button {
	margin: 0 auto;
	display: block;
	box-sizing: border-box;
	color: $color-light;
	height: 42px;
	padding-left: 40px;
	border: 1px solid $color-light;
	border-radius: 3px;
	@include font(14, 14);
	position: relative;
	background-color: #b2b2b2;
	transition: all .3s;
	&:hover {
		background-color: $color-4;
		border-color: $color-4;
	}
	&::before {
		content: "";
		display: block;
		position: absolute;
		top: 50%;
		left: 15px;
		margin-top: -7px;
		@include icons-sprite(make_reservation_btn);
	}
}


.look-at-block {
	padding-top: 70px;
	padding-bottom: 110px;
	.promote-body {
		padding-top: 30px;
	}
}

.team-photo-small,
.team-photo-big,
.team-block {
	display: inline-block;
	margin-right: 30px;
	vertical-align: bottom;
}

.team-block {
	margin-right: 0;
	position: relative;
	width: 570px;
	.team-choose-buttons {
		display: inline-block;
		position: absolute;
		right: 0;
		top: 0;
	}
}

.team-choose-buttons a {
	width: 30px;
	height: 30px;
	@include clear-link-style;
	border: 1px solid $color-1;
	border-radius: 50%;
	display: inline-block;
	position: relative;
	&:first-child {
		margin-right: 10px;
	}
	&.left-btn::before {
		content: "";
		display: block;
		position: absolute;
		top: 50%;
		left: 50%;
		margin-top: -5px;
		margin-left: -5px;
		@include icons-sprite(left_btn)
	}
	&.right-btn::before {
		content: "";
		display: block;
		position: absolute;
		top: 50%;
		left: 50%;
		margin-top: -5px;
		margin-left: -2px;
		@include icons-sprite(right_btn)
	}
}

.team-photo-small a {
	display: inline-block;
	@include clear-link-style;
	width: 170px;
	height: 220px;
	background-color: $color-6;
	img {
		width: 170px;
		height: 220px;
	}
}

.team-photo-big a {
	display: inline-block;
	@include clear-link-style;
	width: 370px;
	height: 430px;
	background-color: $color-6;
	img {
		width: 370px;
		height: 430px;
	}
}

.team-member-name {
	@include font(28, 28, $font-family-second);
	font-style: italic;
	font-weight: bold;
	color: $color-9;
	margin-bottom: 5px;
}

.team-member-position {
	@include font(14, 24);
	font-weight: bold;
	color: $color-1;
	text-transform: uppercase;
}

.team-block p {
	@include font(12, 20, $font-family-second);
	font-style: italic;
	margin-bottom: 30px;
	color: $color-1;
}

.follow-block {
	margin-bottom: 40px;
}

.follow-block a {
	@include font(11, 11);
	@include clear-link-style;
	display: inline-block;
	position: relative;
	color: $color-1;
	margin-right: 20px;
	&.twtr::before {
		content: "";
		display: inline-block;
		margin-right: 10px;
		vertical-align: middle;
		margin-top: -3px;
		@include icons-sprite(twtr_a);
	}
	&.insta::before {
		content: "";
		display: inline-block;
		margin-right: 10px;
		vertical-align: middle;
		@include icons-sprite(insta_a);
	}
}

.team-members-photo-block .team-photo-small:nth-child(3n) {
	margin-right: 0;
}

.gallery-list {
	@include clear-list-style;
	display: inline-block;
}

.discover-block {
	padding-top: 60px;
	background-color: $color-6;
}


.gallery-list li.active {
	margin-bottom: 630px;
	&:after {
		content: "";
		display: block;
		position: absolute;

	}
}

.gallery-list li {
	display: inline-block;
	width: 270px;
	height: 200px;
	margin-right: 30px;
	margin-bottom: 30px;
	box-sizing: border-box;
	border: 5px solid $color-light;
	position: relative;
	&:nth-child(4n) {
		margin-right: 0;
	}
	a {
		@include clear-link-style;
		width: 100%;
		height: 100%;
		display: inline-block;
		background-color: #425abe;
		position: relative;
		img {
			width: 100%;
			height: 100%;
		}
	}
}

.gallery-list li a::before {
	background-color: rgb(0,0,0);
	transition: opacity 0.5s;
	content: "";
	display: block;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;

}

.gallery-list li a:hover::before {
	opacity: 0.5;
}

.gallery-list li a:hover::after {
	content: "";
	display: block;
	top: 50%;
	left: 50%;
	position: absolute;
	width: 40px;
	height: 40px;
	margin-left: -20px;
	margin-top: -20px;
	border: 3px solid $color-light;
	border-radius: 50%;
}

.gallery-product-desc {
	display: none;
	width: 100%;
	background-color: #4d4949;
	font-size: 0;
	line-height: 0;
	padding-top: 60px;
	padding-bottom: 60px;
	color: $color-6;
	position: absolute;
	opacity: 0;
	transition: all 0.5s;
}

.gallery-product-desc.active {
	display: block;
}

.gallery-pointer {
	position: absolute;
	width: 0;
	height: 0;
	top: -20px;
	left: 50%;
	background-color: inherit;
	border-left: 20px solid $color-6;
	border-right: 20px solid $color-6;
	border-bottom: 20px solid #4d4949;
}
.gpd-image {
	display: inline-block;
	vertical-align: top;
	width: 670px;
	height: 440px;
	margin-right: 30px;
	box-sizing: border-box;
	border: 5px solid $color-light;
	background: #425abe;
	img {
		width: 100%;
		height: 100%;
	}
}

.gpd-block {
	display: inline-block;
	vertical-align: top;
	width: 470px;
	padding-top: 15px;
	p {
		@include font(13, 20);
		margin-bottom: 35px;
	}
}

.gpd-name {
	@include font(28, 14);
	font-weight: bold;
	margin-bottom: 35px;
}

.gpd-desc,
.gpd-time,
.gpd-location {
	@include font(18, 14);
	margin-bottom: 35px;
	span {
		@include font(13, 20);
	}
}

.share-btn {
	@include clear-link-style;
	text-transform: uppercase;
	@include font(18, 20);
	color: $color-light;
	font-weight: bold;
	letter-spacing: 0.2em;
	padding: 15px 30px 15px 60px;
	background-color: #f2c85b;
	position: relative;
	display: inline-block;
	&::before {
		content: "";
		display: block;
		position: absolute;
		top: 50%;
		left: 15px;
		margin-top: -12px;
		@include icons-sprite(share_btn);
	}
}

.newspaper-block {
	@include font(0, 0);
}

.news {
	display: inline-block;
	vertical-align: top;
	margin-right: 30px;
	margin-bottom: 50px;
	width: 570px;
	position: relative;
	color: $color-1;
	&::before {
		content: "";
		display: block;
		width: 100%;
		height: 6px;
		top: 0;
		left: 0;
		position: absolute;
		background-color: #e6eced;
	}
}

.news:nth-child(2n) {
	margin-right: 0;
}

.news:nth-child(3n),
.news:nth-child(4n)  {
	.news-date {
		right: 0;
		padding-left: 20px;
		padding-right: 0;
	}
	.news-image {
		float: left;
	}
	.news-description-container {
		float: right;
	}
}

.news-date {
	position: absolute;
	top: -2px;
	@include font(12, 12);
	font-weight: bold;
	color: $color-4;
	background-color: $color-light;
	padding-right: 20px;
}

.news-image {
	@include clear-link-style;
	display: inline-block;
	box-sizing: border-box;
	border: 6px solid #e6eced;
	background-color: #f45245;
	width: 270px;
	height: 270px;
	float: right;
	img {
		height: 100%;
		width: 100%;
	}
}

.news-description-container {
	width: 270px;
	float: left;
	box-sizing: border-box;
	display: inline-block;
	padding: 40px 30px 0 30px;
	text-align: center;
	p {
		@include font(12, 16, $font-family-second);
		font-style: italic;
		margin-bottom: 20px;
	}
}

.news-name {
	@include font(18, 24);
	font-weight: bold;
	padding-bottom: 30px;
	position: relative;
	&::after {
		content: "";
		display: block;
		position: absolute;
		width: 100px;
		border: 1px dotted $color-8;
		bottom: 0;
		left: 50%;
		margin-left: -50px;
	}
}

.news-view-all {
	width: 325px;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	text-align: center;
	a {
		@include clear-link-style;
		@include font(14, 28);
		font-weight: bold;
		display: inline-block;
		color: $color-1;
		text-transform: uppercase;
		padding: 0 10px;
		background-color: $color-light;
	}
	&::before {
		z-index: -1;
		display: block;
		content: "";
		position: absolute;
		left: 0;
		width: 100%;
		height: 3px;
		top: 50%;
		margin-top: -2px;
		background-color: #f1eeee;
	}
}

.reviews-block {
	background: url(../img/advantages.jpg) no-repeat;
    background-size: cover;
    padding-top: 100px;
    padding-bottom: 70px;
}

.reviews-block .container {
	text-align: center;
}

.reviews-block {
	input[type="radio"] {
		display: none;
	}
	input[type="radio"]:checked + label img {
		transform: scale(1.4);
	}
	label {
		display: inline-block;
		margin-right: 35px;
		margin-bottom: 60px;
		img {
			width: 90px;
			height: 90px;
			border-radius: 50%;
			transition: transform 0.3s;
		}
		&:nth-child(7n) {
			margin-right: 0;
		}
	}
}


@for $i from 1 through 7 {
	input[id=person-#{$i}]:checked ~ .reviews-wrapper .reviews-container {
		transform: translateX(830px - $i * 830px);
	}
}

// input[id="person-1"]:checked ~ .reviews-wrapper .reviews-container {
// 	transform: translateX(0);
// }

// input[id="person-2"]:checked ~ .reviews-wrapper .reviews-container {
// 	transform: translateX(-830px);
// }

// input[id="person-3"]:checked ~ .reviews-wrapper .reviews-container {
// 	transform: translateX(-1660px);
// }

// input[id="person-4"]:checked ~ .reviews-wrapper .reviews-container {
// 	transform: translateX(-2490px);
// }

// input[id="person-5"]:checked ~ .reviews-wrapper .reviews-container {
// 	transform: translateX(-3320px);
// }

// input[id="person-6"]:checked ~ .reviews-wrapper .reviews-container {
// 	transform: translateX(-4150px);
// }

// input[id="person-7"]:checked ~ .reviews-wrapper .reviews-container {
// 	transform: translateX(-4980px);
// }


.reviews-wrapper {
	display: block;
	width: 830px;
	margin: 0 auto;
	overflow-x: hidden; 
	text-align: initial;
	@include font(0, 0);
}

.reviews-container {
	width: 9999999px;
	@include clear-list-style;
	transition: all 0.3s;
}

.reviews-container li {
	display: inline-block;
	width: 830px;
	vertical-align: top;
	text-align: center;
	p {
		@include font(14, 24, $font-family-second);
		font-style: italic;
		color: $color-light;
		margin-bottom: 20px;
	}
	.review-author {
		@include font(16, 22, $font-family-second);
		font-weight: bold;
		color: #adccd9;
		text-transform: uppercase;
		display: inline-block;
	}
}

.footer-top {
	@include font(0, 0);
	padding-bottom: 20px;
	background-color: #f1eeee;
	padding-top: 45px;
	padding-bottom: 30px;
}

.about,
.latest-tweet-block,
.instagram-block {
	display: inline-block;
	vertical-align: top;
	width: 370px;
	margin-right: 30px;
}

.instagram-block {
	margin-right: 0;
}

.footer-top h4 {
	@include font(26, 14);
	font-weight: bold;
	text-transform: uppercase;
	color: $color-9;
	margin-bottom: 45px;
}

.about-us {
	margin-bottom: 60px;
}

.about-us-description {
	padding-left: 170px;
	@include font(13, 22, $font-family-second);
	color: $color-1;
	position: relative;
	&::before {
		content: "";
		display: block;
		position: absolute;
		left: 0;
		top: 50%;
		@include icons-sprite(aboutd_img);
		margin-top: -10px;
	}
}

.opening-times h4 {
	margin-bottom: 35px;
}

.opening-times span {
	@include font(15, 22, $font-family-second);
	font-style: italic;
	color: $color-1;
	background-color: #f1eeee;
	z-index: 2;
	position: relative;
}

.opening-times {
	span:first-child {
		float: left;
		padding-right: 5px;
	}
	span:last-child {
		float: right;
		padding-left: 5px;
	}
}

.opening-time-wrapper .opening-time:nth-child(3n) {
	font-weight: bold;
}


.opening-time {
	position: relative;
	margin-bottom: 10px;
	&::before {
		content: "";
		display: block;
		width: 100%;
		border-bottom: 1px dotted $color-8;
		position: absolute;
		bottom: 5px;
		left: 0;
		z-index: 1;
	}
}

.tweet-list {
	@include clear-list-style;
	display: block;
}

.tweet-list li {
	display: block;
	margin-bottom: 30px;
	img {
		display: inline-block;
		width: 100px;
		height: 100px;
		border-radius: 50%;
		margin-right: 20px;
		vertical-align: top;
	}
}

.tweet-author-container {
	width: 240px;
	display: inline-block;
	vertical-align: top;
	.tweet-author-name {
		@include font(16, 14);
		color: $color-9;
		padding-top: 5px;
	}
	p {
		@include font(13, 18, $font-family-second);
		color: $color-9;
		font-style: italic;
	}
	a {
		@include clear-link-style;
		@include font(13, 18, $font-family-second);
		color: $color-4;
	}
}

.instagram-block {
	a {
		@include clear-link-style;
		width: 370px;
		height: 370px;
		display: inline-block;
		background: $color-8;
		img {
			height: 100%;
			width: 100%;
		}
	}
}

.footer-bottom {
	background: $color-4;
}

.copyright {
	float: left;
	display: inline-block;
	color: $color-light;
	@include font(14, 14);
	padding: 30px 0;
}

.social-block {
	float: right;
	display: inline-block;
	padding: 20px 0;
	a {
		@include clear-link-style;
		display: inline-block;
		margin-right: 0;
		width: 28px;
		height: 28px;
		background-color: $color-light;
		position: relative;
		border-radius: 2px;
	}
}

.social-fb::before {
	position: absolute;
	content: "";
	display: block;
	top: 50%;
	left: 50%;
	margin-top: -7px;
	margin-left: -2px;
	@include icons-sprite(social_fb);
}

.social-twtr::before {
	position: absolute;
	content: "";
	display: block;
	top: 50%;
	left: 50%;
	margin-top: -5px;
	margin-left: -6px;
	@include icons-sprite(social_twtr);
}

.social-pinterest::before {
	position: absolute;
	content: "";
	display: block;
	top: 50%;
	left: 50%;
	margin-top: -7px;
	margin-left: -6px;
	@include icons-sprite(social_pinterest);
}

.social-dribble::before {
	position: absolute;
	content: "";
	display: block;
	top: 50%;
	left: 50%;
	margin-top: -7px;
	margin-left: -6px;
	@include icons-sprite(social_dribble);
}

/*=============================================
=            Layout description START            =
=============================================*/


.layout-description {
	position: fixed;
	top: 200px;
	right: 100%;
	color: #000;
	background: #fff;
	padding: 10px 15px;
	font-family: "Georgia", "Arial", sans-serif;
	text-transform: none;
	border: 1px solid rgba(40, 116, 166, 1);
	border-left: 5px solid #FFC300;
	-webkit-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
}

.layout-toggle {
	padding: 10px;
	line-height: 1em;
	position: absolute;
	display: inline-block;
	text-decoration: none;
	top: -1px;
	left: 100%;
	background-color: #fff;
	color: #000;
	box-shadow: 0 0 10px 0 #FFC300;
	border: 1px solid rgba(40, 116, 166, 1);
	border-left: none;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}

.layout-toggle:hover {
	border: 1px solid rgba(40, 116, 166, 1);
	border-left: none;
}

.layout-toggle::before {
	content: "Страницы";
}

.layout-toggle.active {
	box-shadow: none;
}

.layout-toggle.active::before {
	content: "×";
}

.layout-head {
	text-align: center;
	margin-bottom: 5px;
	margin-top: 0;
	font-size: 1.3em;
}

.layout-list {
	list-style: none;
	margin: 0;
	padding: 0;
}

.layout-list-item {
	display: block;
}

.layout-page,
.layout-page a {
	display: inline-block;
	color: inherit;
	text-decoration: none;
}

.layout-page a:hover {
	opacity: 0.5;
}

/*=============================================
=            Layout description END            =
=============================================*/